<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../META-INF/resources/css/table.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		*{
			font-size:14px;font-family:"微软雅黑";
		}
		input{
			width:100%;height:100%;border:solid 1px #ddd
		}
	</style>
  </head>
  
  <body>
  	 <center>
     <table id="tbl" class="t1"  border="1" style="width:1024px">
    	<tr class="a1" style="height:40px">
    		<th align="left" colspan="6">基本信息</th>
    	</tr>
		<tr class="a1">
    		<th align="left" colspan="6" style="background:#FFF">员工填写信息</th>
    	</tr>
		<tr>
			<th align="left" style="width:170px">单位名称</th>
			<td align="left" style="width:170px"><input /></td>
			<th align="left" style="width:170px">部门</th>
			<td align="left" style="width:170px"><input /></td>
			<th align="left" style="width:170px">岗位名称</th>
			<td align="left" style="width:170px"></td>
    	</tr>
		<tr>
			<th align="left">直接上级姓名</th>
			<td align="left"><input /></td>
			<th align="left">姓名</th>
			<td align="left"><input /></td>
			<th align="left">曾用名</th>
			<td align="left"><input /></td>
    	</tr>

		<tr>
			<th align="left">性别</th>
			<td align="left"><input /></td>
			<th align="left">年龄</th>
			<td align="left"><input /></td>
			<th align="left">民族</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>	
			<th align="left">政治面貌</th>
			<td align="left"><input /></td>
			<th align="left">健康状况婚姻状况</th>
			<td align="left"><input /></td>
			<th align="left">身高（ＣＭ）</th>
			<td align="left"><input /></td>
    	</tr>

		<tr>
			<th align="left">血型</th>
			<td align="left"><input /></td>
			<th align="left">移动电话</th>
			<td align="left"><input /></td>
			<th align="left">办公室电话</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">电子信箱</th>
			<td align="left"><input /></td>
			<th align="left">自助账号</th>
			<td align="left"><input /></td>
			<th align="left">身份证号</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">身份证地址</th>
			<td align="left"><input /></td>
			<th align="left">户口性质</th>
			<td align="left"><input /></td>
			<th align="left">户口所在地</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">籍贯</th>
			<td align="left"><input /></td>
			<th align="left">籍贯 ( 描述 )</th>
			<td align="left"><input /></td>
			<th align="left">出生日期</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">档案关系</th>
			<td align="left"><input /></td>
			<th align="left">目前所在地</th>
			<td align="left"><input /></td>
			<th align="left">参加工作时间</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">连续工龄</th>
			<td align="left"><input /></td>
			<th align="left">本企业工龄</th>
			<td align="left"><input /></td>
			<th align="left">到本单位时间</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">进入时间</th>
			<td align="left"><input /></td>
			<th align="left">爱好</th>
			<td align="left"><input /></td>
			<th align="left">专长</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">护照</th>
			<td align="left"><input /></td>
			<th align="left">持有何种驾照</th>
			<td align="left"><input /></td>
			<th align="left">配偶姓名</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">配偶身份证</th>
			<td align="left"><input /></td>
			<th align="left">现住地址</th>
			<td align="left"><input /></td>
			<th align="left">户口所在派出所</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">出生地</th>
			<td align="left"><input /></td>
			<th align="left">出生地 ( 描述 )</th>
			<td align="left"><input /></td>
			<th align="left">体重</th>
			<td align="left"><input /></td>
    	</tr>
		<tr class="a1">
    		<th align="left" colspan="6" style="background:#FFF">人事填写信息</th>
    	</tr>
		<tr>
			<th align="left">正式转正时间</th>
			<td align="left"><input /></td>
			<th align="left">现岗位任职时间 </th>
			<td align="left"><input /></td>
			<th align="left">人员类别</th>
			<td align="left"><input /></td>
    	</tr>

		<tr>
			<th align="left">特殊工种 </th>
			<td align="left"><input /></td>
			<th align="left">港澳台侨属标识 </th>
			<td align="left"><input /></td>
			<th align="left">工龄断期 </th>
			<td align="left"><input /></td>
    	</tr>
		<tr>	
			<th align="left">集团年终考核角色 </th>
			<td align="left"><input /></td>
			<th align="left">健康状况婚姻状况</th>
			<td align="left"><input /></td>
			<th align="left">济南绩效考核角色 </th>
			<td align="left"><input /></td>
    	</tr>

		<tr>
			<th align="left">增员途径 </th>
			<td align="left"><input /></td>
			<th align="left">工资发放单位 . </th>
			<td align="left"><input /></td>
			<th align="left">工资归属部门</th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">用工形式 </th>
			<td align="left"><input /></td>
			<th align="left">岗位系数 </th>
			<td align="left"><input /></td>
			<th align="left">岗位标准 </th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">薪资分类 </th>
			<td align="left"><input /></td>
			<th align="left">保险缴费地点 </th>
			<td align="left"><input /></td>
			<th align="left">公积金缴费地点 </th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">社保费用承担单位 </th>
			<td align="left"><input /></td>
			<th align="left">公积金费用承担单位 </th>
			<td align="left"><input /></td>
			<th align="left">是否转正 </th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">是否有公积金调节额 </th>
			<td align="left"><input /></td>
			<th align="left">是否有取暖费 </th>
			<td align="left"><input /></td>
			<th align="left">是否有公积金补贴 </th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">是否有养老地方综合 </th>
			<td align="left"><input /></td>
			<th align="left">是否有夜班费 </th>
			<td align="left"><input /></td>
			<th align="left">是否有试用期 </th>
			<td align="left"><input /></td>
    	</tr>
		<tr>
			<th align="left">是否有补充保险 </th>
			<td align="left"><input /></td>
			<th align="left">是否为管理人员 </th>
			<td align="left"><input /></td>
			<th align="left">是否外派人员 </th>
			<td align="left"><input /></td>
    	</tr>
		
		<tr class="a1" style="height:40px">
    		<th align="left" colspan="6">学历信息</th>
    	</tr>
		<tr>
			<td colspan="6" style="padding:2px">
				<table id="tbl" class="t1"  border="1" style="width:100%;">
					<tr>
						<th align="center">序号</th>
						<th align="center">毕业学校</th>
						<th align="center">毕业时间</th>
						<th align="center">学历性质</th>
						<th align="center">学历</th>
						<th align="center">学位</th>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
					<tr>
						<td align="center">2</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
				</table>
			</td>
    	</tr>
		<tr class="a1" style="height:40px">
    		<th align="left" colspan="6">培训经历</th>
    	</tr>
		<tr>
			<td colspan="6" style="padding:2px">
				<table id="tbl" class="t1"  border="1" style="width:100%;">
					<tr>
						<th align="center">序号</th>
						<th align="center">培训机构</th>
						<th align="center">培训开始时间</th>
						<th align="center">培训结束时间</th>
						<th align="center">培训内容</th>
						<th align="center">获得证书</th>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
					<tr>
						<td align="center">2</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
				</table>
			</td>
    	</tr>
		<tr class="a1" style="height:40px">
    		<th align="left" colspan="6">家庭情况</th>
    	</tr>
		<tr>
			<td colspan="6" style="padding:2px">
				<table id="tbl" class="t1"  border="1" style="width:100%;">
					<tr>
						<th align="center">序号</th>
						<th align="center">成员姓名</th>
						<th align="center">与本人关系</th>
						<th align="center">电话号码</th>
						<th align="center">住址</th>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
					<tr>
						<td align="center">2</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
				</table>
			</td>
    	</tr>
		<tr class="a1" style="height:40px">
    		<th align="left" colspan="6">紧急联系人</th>
    	</tr>
		<tr>
			<td colspan="6" style="padding:2px">
				<table id="tbl" class="t1"  border="1" style="width:100%;">
					<tr>
						<th align="center">序号</th>
						<th align="center">紧急联系人姓名</th>
						<th align="center">紧急联系人电话</th>
						<th align="center">紧急联系人地址</th>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
					<tr>
						<td align="center">2</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
				</table>
			</td>
    	</tr>
		<tr class="a1" style="height:40px">
    		<th align="left" colspan="6">奖励信息</th>
    	</tr>
		<tr>
			<td colspan="6" style="padding:2px">
				<table id="tbl" class="t1"  border="1" style="width:100%;">
					<tr>
						<th align="center">序号</th>
						<th align="center">奖励时间</th>
						<th align="center">奖励级别</th>
						<th align="center">奖励名称</th>
						<th align="center">奖励原因 </th>
						<th align="center">奖励批准单位</th>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
					<tr>
						<td align="center">2</td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
						<td align="left"><input /></td>
					</tr>
				</table>
			</td>
    	</tr>
    </table>	
    </center>
  </body>
</html>
